[2020-01-16 19:01] mayurdhurpate opened #3 "SegmentObserver does not provide option to add properties in setScreen call"
In the SegmentObserver class, the `FlutterSegment.screen` method call only provides `screen` as the argument. I think `properties` can be very helpful to specify the Screen properties.

https://github.com/claimsforce-gmbh/flutter-segment/blob/ca07508d5462d0569e2cee8296bdc3ae8c0130cd/lib/flutter_segment.dart#L129

Maybe we can use settings.arguments to provide optional `properties` to send via `Flu

[2020-01-17 17:26] mayurdhurpate commented on #3
@kev52 if it's okay, I can work on a PR to add this feature. Do you think we can proceed further on this?

[2020-02-04 13:22] ridz0n3 opened #5 "Cannot track Application Lifecycle"
Hi,

I've try this package. it seems like application lifecycle not tracked on android, for ios it working fine. Do you have any solution to that problem?

Thanks

[2020-02-12 14:05] bejavu opened #6 "Getting "MissingPluginException(No implementation found for method track on channel flutter_segment)""
Some times, I am getting `MissingPluginException(No implementation found for method track on channel flutter_segment)` error.

[code]

I am tracking this problem, I think it happens only on android device, later this week I home I will have more data on it.

[2020-02-12 14:41] vinicius-animo commented on #6
@bejavu, it looks like this happens because you're trying to access the plugin in an `Isolate`.
If this is the case, you will need to register the segment plugin channel to access it.

[Here's a stakoverflow post for a problem that looks similar](https://stackoverflow.com/questions/57466952/unable-to-understand-flutter-dart-plugin-isolate-workaround-for-window-sendpla).

[2020-02-14 14:13] MaiKaY commented on #3
Hi @mayurdhurpate,
sorry for the late response. I am currently re-working the plugin. Did you already implement something in the meantime?

[2020-02-14 14:15] MaiKaY commented on #5
Hi @ridz0n3,
I am currently re-working the plugin. I will let you know as soon as we released `1.0.0` after that I would like to ask you to double check it again.

[2020-02-14 14:44] MaiKaY commented on #5
Hi @ridz0n3,
we just released `1.0.0`. Could you please double check if this issue still exists?

[2020-02-17 07:06] mayurdhurpate commented on #3
No, I didn't build anything yet. The feature seemed not so important to me later.

[2020-02-17 07:23] #3 closed

[2020-03-04 16:57] bejavu commented on #6
@vinicius-animo
We use Isolate for just one thread, it should not be a problem, we are not encountered it with any other plugin...
Are you sure this is the issue?

[2020-03-04 17:20] vinicius-animo commented on #6
@bejavu, there's an update (still being tested, but apparently working fine) that addresses this issue at [this repo](https://github.com/animo-wellness/flutter-segment).
Can you test from this repo source and report if it fixes your issue? I'll soon create the PR (after some more internal tests).

After we migrated to Flutter 1.12+ we started getting those messages and decided to implement the [ne

[2020-03-05 06:41] bejavu commented on #6
We will today, Thanks!

[2020-03-05 10:14] bejavu commented on #6
lets see if this works:

https://github.com/fuseio/fuse-wallet/pull/175/files

Events are firing well,
waiting to see if I get the error in sentry

[2020-03-05 15:49] MaiKaY commented on #6
Hi guys,
we just released version `2.0.0`(https://pub.dev/packages/flutter_segment)

Is this issues solved with `2.0.0`?

[2020-03-10 09:44] bejavu commented on #6
No, sorry,
"MissingPluginException(No implementation found for method identify on channel flutter_segment)"
Error keep on firing to sentry.

[2020-03-10 13:05] MaiKaY commented on #6
Hi @bejavu,
sad to hear that.
Could you please share the code how you implemented it?

Thanks.

[2020-03-10 13:06] MaiKaY commented on #5
Closing due to inactivity.

[2020-03-10 13:06] #5 closed

[2020-03-10 13:45] bejavu commented on #6
yes, luckily our code is open source so you can see it here:
https://github.com/fuseio/fuse-wallet

I think that this bug is related to the way we start the app inside a zoned thread:
https://github.com/fuseio/fuse-wallet/blob/master/lib/main.dart#L29

[2020-03-10 14:25] MaiKaY commented on #6
Could you try to add `WidgetsFlutterBinding.ensureInitialized();` in the very first line of your `main()`

[code]

[2020-03-10 16:51] bejavu commented on #6
We just did!
now we pray 🙏

[2020-03-12 14:53] bejavu commented on #6
sorry to say, the errors still remains

[2020-03-19 23:00] fdietze opened #10 "Cannot call Segment.disable (Android)"
On Android, when I want to disable segment, I get the following error:

[code]

Tracking an event from the same code position works fine.

[2020-03-20 18:25] vinicius-animo commented on #6
Hi @bejavu. There's a PR to fix that. Can you check?

[2020-03-25 09:54] LiorAgnin commented on #6
Hi @vinicius-animo,
We tested the PR, Looks like it has fixed the issue.

[2020-03-25 10:57] #6 closed

[2020-03-25 11:03] MaiKaY commented on #6
We just released `2.0.1`.

@vinicius-animo thanks for your contribution.

[2020-03-25 11:04] MaiKaY commented on #10
Hi @fdietze,
could you please try it with the latest version (`2.0.1`)

[2020-03-25 13:37] fdietze commented on #10
Just tried it. Same error...
I can also try versions from a branch if that makes testing easier.

Thanks for your help!

[2020-03-25 13:45] MaiKaY commented on #10
My mistake. This method isn't implemented for Android ([here](https://github.com/claimsforce-gmbh/flutter-segment/blob/master/android/src/main/java/com/example/flutter_segment/FlutterSegmentPlugin.java#L118-L138)) yet. I adjusted the documentation for that.

@vinicius-animo Do you have time to implement the missing methods?
- `disable`
- `enable`
- `debug`

[2020-04-03 05:26] #10 closed

[2020-04-03 05:34] MaiKaY commented on #10
Hi @fdietze,
could you please try it again with `2.0.2`?

[2020-04-06 19:19] fdietze commented on #10
Thank you, it's working! :+1:

As far as I understand, it should work now for android and iOS. Is that correct?

[2020-04-07 02:22] MaiKaY commented on #10
Yeah. That's correct!

[2020-04-13 02:27] hanspeteroliver commented on #6
Hi, I'm running on 2.0.2 and I get the same expectation too, only on Android though. If I downgrade on 2.0.1 the error still persists. Anyone else encountering this?

[2020-04-25 03:38] benjwilson10 opened #14 "setContext"
Hi,

Great package and Segment is awesome!

In my segment debugger, events seem to be coming through correctly with the device information populated as below.

 "device": {
      "adTrackingEnabled": true,
      "advertisingId": "5F8DFEA2-XXXX-XXXX-XXXX-DC0AF85335F7",
      "id": "B2D8C773-XXXX-XXXX-XXXX-D7EDEE88D607",
      "manufacturer": "Apple",
      "model": "iPad8,3",
      "type": "ios"
 }

[2020-04-26 17:03] vinicius-animo commented on #14
Hi @benjwilson10.

When `flutter_segment` sets new Context values (done in a middleware), any old value is preserved by performing a deep merge.

Unfortunately the problem resides in the official Segment library for Android, not our plugin.
The library does not add the custom `Device` if any middleware sets a new context.

[I have opened an issue in  the official library](https://github.com/segmen

[2020-04-27 13:53] stanojevicboban opened #15 "Android: Missing Write_key and MissingPluginException"
Hi,

While this package works beautifully on iOS, it is throwing exceptions on Android.

I have followed instructions as per this [link](https://segment.com/docs/connections/sources/catalog/libraries/mobile/android/) as well as the installation steps in this repository, but whenever I try to run the code, there are two separate issues that I am seeing:

1.
[code]
However, I do have the WRITE_KEY p

[2020-04-27 13:57] FloPMT commented on #15
Same issue here

[2020-04-27 14:17] vinicius-animo commented on #15
Hi @stanojevicboban and @FloPMT.

Have you followed the steps in the [Readme of this project](https://github.com/claimsforce-gmbh/flutter-segment#segment-plugin)?
Although this plugin uses the segment's official libraries, the setup is completely different.

One thing you could do to test the plugin is to clone this repo, navigate to the `example` folder and configure it by replacing the `WRITE_KE

[2020-04-27 19:23] stanojevicboban commented on #15
Hi @vinicius-animo,

Thanks so much for your help.

As usual, it was an error, on my part, in declaring the meta-data in the AndroidManifest.xml file.

For anyone interested, the problem was that the three components:
[code]
were inside the `<application>` section, while they should've been set outside of it.

I'm marking this as closed, and once again, thank you so much for the help.

[2020-04-27 19:23] #15 closed

[2020-05-12 13:57] shashikantdurge opened #16 "Branch metrics analytics feature request"
Branch metrics needs additional setup.

Can we have it in the plugin ?

[2020-05-25 18:34] dgilperez opened #17 "On SegmentObserver() and recordScreenViews()"
Hi!

Many thanks for maintaing `flutter-segment`. I'm using it as an alternative to the Segment's official setup for Android. My first goal is to have the most automatic analytics as possible, so I added the `Observer` to my MaterialApp, like this:

[code]

Unfortunately, I don't see any events from that call arriving at Segment. Any ideas why?

I also checked the official installation instruction

[2020-05-26 19:46] dgilperez commented on #17
Updating ... I forked, added the `recordScreenViews()` to the package and used the example app in `/example` in the emulator ... and I get debug information in Segment. Lifecycle events reach Segment as well. All is looking fine.

Using the same local package in my App (`path:` directive in the `pubspec.yml`), running it in the emulator ... and I don't see any debug information coming to Segment.

[2020-05-26 20:19] nedrocks commented on #17
I can't help you but I installed this earlier this morning in my app and noticed the same behavior in that screens are not tracked. I ended up just manually calling the `.screen()` function at the base of my stateful widget that renders the screen. It's DEFINITELY not perfect, but it gets the job done.

[2020-05-27 02:43] abed-binary opened #18 "Enable and disable has not been implemented"
Version 2.0.2 added enable and disable support to android, however, the functions are still not implemented in the plugin 'disable() has not been implemented.'

[2020-05-27 02:59] abed-binary commented on #18
It's working fine, the problem was a wrong write-key, and disable() was the first call

[2020-05-27 02:59] #18 closed

[2020-05-27 11:40] dgilperez commented on #17
Thanks @nedrocks. My problem is that even `.screen()` calls are not reaching segment ... no idea why 🤷

[2020-05-27 16:38] benjwilson10 opened #19 "iOS SDK Version"
Hi,

After speaking with Tech support at Segment, they have told me that in order to remove a property from a users traits with an identity call, you need to send a null value, but this is only supported on SDK versions > 3.8. After checking the version, this package using 3.7.0. Could we bump the iOS SDK version to the latest stable: 3.8.2?

This is also referenced here: https://github.com/segmen

[2020-06-04 08:47] MaiKaY commented on #16
Hi @shashikantdurge,
may I ask you to create a PR since you already got the implementation in your fork?
(https://github.com/shashikantdurge/flutter-segment/commits/master)

[2020-06-04 08:54] MaiKaY commented on #17
Hi @dgilperez,
did I understand you correctly that all methods except `.screen()` are working?

[2020-06-04 12:13] dgilperez commented on #17
Thanks for answering @MaiKaY. I ended up finding the issue: Firebase Performance package was interfering with Segment (and also Crashlytics and other packages). Disabled the first, got this back to working.

On the second part of the question, I still would like to benefit from the `recordScreenViews()` Segment capability (as stated in their docs). Can you clarify please if this is not needed (ie,

[2020-06-04 14:31] MaiKaY commented on #17
Glad to hear that you fixed the issue, @dgilperez!

To answer your question regarding `recordScreenViews()`:
As soon as you are using the `SegmentObserver()` as a `navigatorObservers` you achieved the same as you would use the native iOS implementation of `recordScreenViews()`.

[2020-06-04 14:31] #17 closed

[2020-06-04 14:40] MaiKaY commented on #14
Hi @vinicius-animo,
could you please try to reproduce it again with the latest native segment versions (https://github.com/claimsforce-gmbh/flutter-segment/commit/3757233416f71652f0af0eddbdc30bcc44d79ba7) ?

Thanks in advance.

[2020-06-05 09:42] dgilperez commented on #17
Ok, thanks for the clarification!

On Thu, Jun 4, 2020 at 4:31 PM Maik Schmidt <notifications@github.com>
wrote:

[2020-06-05 12:22] #16 closed

[2020-06-05 12:58] MaiKaY commented on #16
Available in [`2.1.0`](https://pub.dev/packages/flutter_segment)

[2020-06-05 12:59] MaiKaY commented on #19
Available in [`2.1.0`](https://pub.dev/packages/flutter_segment)

[2020-06-05 12:59] #19 closed

[2020-06-05 13:00] MaiKaY commented on #14
Hi @benjwilson10,
could you try it again with our latest version ([`2.1.0`](https://pub.dev/packages/flutter_segment))

[2020-06-11 10:58] MaiKaY commented on #14
Close this issue due to inactivity.

[2020-06-11 10:58] #14 closed

[2020-06-12 10:32] iampawan opened #23 "Some props doesn't work"
Some props like "token", "username" doesn't work. Is there any reserved list for keywords that are not supposed to be the custom properties?

[2020-06-12 10:33] iampawan opened #24 "Any plans for supporting macOS?"
We are working on an app for macOS. Since we are already using Segment for Android & iOS, we are thinking if we can use the same for our macOS app using flutter.

[2020-06-12 12:41] MaiKaY commented on #23
Hi @iampawan,
since we are using the native segment libraries under the hood I would like to ask you if you could create this kind of request directly in one of the segment repos at GitHub.

- [Segment iOS](https://github.com/segmentio/analytics-ios/issues/new)
- [Segment Android](https://github.com/segmentio/analytics-android/issues/new)

Thanks.

[2020-06-12 12:41] #23 closed

[2020-06-12 12:43] MaiKaY commented on #24
Hi @iampawan,
right now there is no plan in supporting macOS.

But if you like feel free to create it by yourself and I am more than happy to merge it into this library.

[2020-06-17 14:55] prundianudaniel opened #25 "enableAdvertisingTracking"
If i do this (**iOS**):

[code]

my advertismentIdentifier in the device config in segments debugger is gone.
Do i do something wrong here?

**Expected**:

"device": {
      "adTrackingEnabled": true,
      "advertisingId": "***",
      "id": "***",
      "manufacturer": "Apple",
      "model": "x86_64",
      "name": "iPhone",
      "type": "ios",
      "token": "mytoken"
    },

**Result**:

"de

[2020-06-19 12:01] MaiKaY commented on #25
Hi @prundianudaniel,
which version are you using?
Have you check https://github.com/claimsforce-gmbh/flutter-segment/issues/14? Maybe it's related to your problem.

[2020-06-19 12:57] prundianudaniel commented on #25
i use 2.1.0 and yes @MaiKaY thats exactly my problem

[2020-06-22 07:18] MaiKaY commented on #25
I can reproduce that as well.

@vinicius-animo maybe it's solved for Android but not for iOS?

[2020-06-22 07:33] MaiKaY commented on #25
I opened a new issue but this time for the Segment iOS library: https://github.com/segmentio/analytics-ios/issues/907

[2020-06-22 07:40] #25 closed

[2020-06-22 07:43] MaiKaY commented on #25
Hi @prundianudaniel,
should be fixed with our latest version [`2.1.1`](https://pub.dev/packages/flutter_segment).

Feel free to re-open in case it's not fixed.

[2020-06-22 07:43] MaiKaY commented on #14
Please keep in mind for iOS its fixed with version [`2.1.1`](https://pub.dev/packages/flutter_segment).

[2020-07-14 07:42] gertdrui opened #26 "Segment-Amplitude library required when using segment with amplitude integration"
As per https://developers.amplitude.com/docs/segment-amplitude-integration the client should include the separate segment-amplitude library and register amplitude's SDK in segment's SDK.

This could be a configurable key just as with branch.io's `ENABLE_BRANCH_IO_INTEGRATION`, ie `ENABLE_AMPLITUDE_INTEGRATION`

[2020-08-19 08:05] shashikantdurge commented on #16
This request turned out to be a bad one. Our app is rejected for using Branch SDK. Find the details here:
<img width="721" alt="Screenshot 2020-08-19 at 1 34 41 PM" src="https://user-images.githubusercontent.com/20161204/90608828-c9c23400-e220-11ea-98c4-f3894589515f.png">

[2020-08-19 08:06] shashikantdurge commented on #16
@MaiKaY We have got the above message from google even after Disabling the Branch integration

[2020-08-26 10:45] sathish-xe opened #31 "'Segment_Branch/BNCBranchIntegrationFactory.h' file not found"
I'm getting 'Segment_Branch/BNCBranchIntegrationFactory.h' file not found while building the project.

Similar [issue](https://github.com/segmentio/analytics-react-native/issues/30) is posted in react-native plugin. How do I solve this in flutter? Please help me out.

**Using plugin**
`flutter_segment: ^2.1.1`

**Flutter doctor**
[code]

[2020-08-26 11:19] conalllaverty opened #32 "Bluetooth and cellular showing as disabled when they are enabled"
Hey,
When I send an event to Segment, the Bluetooth and cellular shows as "false" even though it is enabled. WiFi appears to be working fine. I have confirmed this across multiple different devices (Samsung and Xiaomi Android). Screenshot below.

![Screenshot 2020-08-26 at 12 18 51](https://user-images.githubusercontent.com/6192031/91297501-56776f80-e796-11ea-9a8e-b693ece25a08.png)

Any thoughts?

[2020-08-31 07:31] MaiKaY commented on #26
Available in `2.2.0`

[2020-08-31 07:31] #26 closed

[2020-08-31 07:32] MaiKaY commented on #31
Fixed in `2.2.0`

[2020-09-01 08:24] FilledStacks commented on #31
Hi @MaiKaY I'm getting the same error as above in v 2.2.0

[code]

flutter doctor

[code]

Did a flutter clean, rebuild, flutter clean, removed pods, removed pod files, ran flutter pub upgrade, etc. Multiple times. Nothing seems to work.

[2020-09-01 09:56] MaiKaY commented on #31
Hi @FilledStacks,
have you tried to run `pod repo update` in the `ios` directory?

[2020-09-01 15:00] yuripiratello commented on #31
Hello guys! What I found:

- The import on `flutter_segment/ios/Classes/FlutterSegmentPlugin.m` are with `-` (https://github.com/claimsforce-gmbh/flutter-segment/blob/master/ios/Classes/FlutterSegmentPlugin.m#L5)
![image](https://user-images.githubusercontent.com/559315/91867505-19095b00-ec4a-11ea-8156-a857dbe57196.png)
![image](https://user-images.githubusercontent.com/559315/91867532-1f97d280-ec

[2020-09-02 06:07] FilledStacks commented on #31
@MaiKaY Yes I have. @yuripiratello nice find. I will test this out when I get back to the segment scheme implementation. thanks for sharing.

[2020-09-02 06:49] MaiKaY commented on #31
Sadly, it feels that the whole thing is a neverending story.

On the 12th of May 2020 we initially set it to [`Segment_Branch`](https://github.com/claimsforce-gmbh/flutter-segment/commit/89f57c33876a001d592acf749f22cdd16197ed70#diff-d4ee3f428d7eabd6d93eb5eb26e750d7) after this release we got feedback that this namespace is wrong, therefore it was changed on the 14th of July 2020 to [`Segment-Branc

[2020-09-02 06:55] MaiKaY commented on #31
I released `2.2.1`, I am more than happy if you can assist me by testing it.

[2020-09-02 07:25] FilledStacks commented on #31
@MaiKaY give me a few minutes. I'll jump on that branch now and test it out. Will report back in a bit

[2020-09-02 08:05] FilledStacks commented on #31
Didnd't work for me Still getting this error.

[code]

Tried 2.0.2 but my ios builds are not working when using that either.

[2020-09-02 09:05] abed-binary commented on #31
We had the same problem earlier today, so we traced what changed in version 2.2.0. The problem was with the `-` that should be `_` at Segment-Branch. I don't know what caused this!
We changed it from ios/.symlinks/plugins/flutter_segment/ios/Classes/FlutterSegmentPlugin.m
The 2 imports should look like this;
`#import <Segment_Branch/BNCBranchIntegrationFactory.h>`
`#import <Segment_Amplitude/SEGAm

[2020-09-02 11:04] MaiKaY commented on #31
Since `Segment_Amplitude` is also effected I just released `2.2.2`. Could you please verify that it solved your problem?

[2020-09-03 02:01] abed-binary commented on #31
Yes I can confirm that 2.2.2 solved the problem.

Thank you

[2020-09-03 05:40] MaiKaY commented on #31
Great. Will close this issue. Feel free to reopen in case you need further help.

[2020-09-03 05:40] #31 closed

[2020-09-04 14:43] Pexeed opened #33 "Error: CocoaPods's specs repository is too out-of-date to satisfy dependencies."
I'm getting this error when I update to version 2.2.2
My CI/CD through Codemagic is getting the same error.
I run pod repo update, but it doesn't solve the issue.
Using version 2.1.1 it works fine, anyone having the same problem with this new version?

CocoaPods version: 1.9.3

[code]

Flutter Doctor
[code]

[2020-09-07 03:02] liemvu opened #34 "Got reject from Google after update to v2.2.2"
Google had rejected my app's update because of Branch IO SDK
<img width="739" alt="Screen Shot 2020-09-07 at 9 49 52 AM" src="https://user-images.githubusercontent.com/839686/92344262-2a41e400-f0f0-11ea-9f2a-ea361de35722.png">

I found out that flutter_segment use an old version of Branch IO SDK
<img width="695" alt="Screen Shot 2020-09-07 at 9 50 41 AM" src="https://user-images.githubusercontent.

[2020-09-07 06:41] MaiKaY commented on #33
Hi @Pexeed,
have you tried to run `pod repo update` in the `ios` directory?

[2020-09-07 06:44] MaiKaY commented on #33
Hi @Pexeed,
it seems that your `Podfile.lock` has a dependency to `0.1.23` but we set the value to `0.1.22` with our latest version. You could try to remove the `Podfile.lock` and re-run `pod install`.

[2020-09-07 23:54] Pexeed commented on #33
I have already tried that and it didn't work.
Tried running `flutter clean` deleting the `Podfile` and the `Podfile.lock` , and then running flutter build ios, same problem.
The only way I was able to build was to return to the old version.

[2020-09-10 09:45] MaiKaY commented on #34
Hi @liemvu,
we just released `3.0.0` which does not have a dependency to branch.io integration anymore which causes these issues.
If you are upgrading to `3.0.0` you should be fine.

[2020-09-10 09:45] #34 closed

[2020-09-10 09:46] MaiKaY commented on #33
Hi @Pexeed,
as soon as you are not using branch.io integration you could upgrade to `3.0.0` which will remove this dependency at all.

[2020-09-10 09:46] #33 closed

[2020-09-18 09:55] varundroid opened #36 "MissingPluginException(No implementation found for method track on channel flutter_segment)"
Hi, I added your plugin to my project, called "pub get", everything went okay, until I ran the project. Any idea why would I get this exception?

[2020-09-28 09:01] MaiKaY commented on #36
Hi @varundroid,
how do you initialize/use the plugin? Could you please offer some code examples?

[2020-10-23 01:13] humberto-cetina-commure opened #39 "FlutterSegmentPlugin.m typo importing SEGAmplitudeIntegrationFactory.h"
Found a typo in an import statement where it should be `#import <Segment-Amplitude/SEGAmplitudeIntegrationFactory.h>` instead of `#import <Segment_Amplitude/SEGAmplitudeIntegrationFactory.h>`

[2020-10-27 15:39] yelkamel commented on #36
I have the same issue @varundroid  did you find a solution ?
@MaiKaY I didn't see in the documentation an initialization process

[2020-11-12 03:03] lolapriego commented on #34
Thanks for solving this 🙏  ! I run into the same issue

[2020-11-17 14:44] w3ggy opened #40 "Update Segment SDK"
The new version has been released. https://segment.com/docs/connections/sources/catalog/libraries/mobile/ios/ios14-guide/

[2020-11-20 18:55] dgilperez opened #42 "AppFlyer integration"
Hi!

I was looking to integrate AppFlyer through Segment, as they describe in https://segment.com/docs/connections/destinations/catalog/appsflyer/#getting-started. They explain to add this segment plugin https://github.com/AppsFlyerSDK/appsflyer-segment-android-plugin and set it up for both to play together. I also found a flutter plugin directly from AppsFlyer https://support.appsflyer.com/hc/en-

[2020-11-22 17:41] Immortalin opened #43 "Java issues"
[code]
With lint enabled:
[code]

[code]

[2020-12-01 20:08] guilhermeagostinelli opened #44 "pod "Branch" is out of date"
Hi,

I'm using Segment v2.2.2 but it's conflicting with the Branch SDK itself ([flutter_branch_sdk](https://pub.dev/packages/flutter_branch_sdk) package) which I need in order to handle Branch Deep Links.

[code]

Is there an alternative besides upgrading to Segment v3.0.0 and disabling the Branch integration? If I do so, will Segment be able to send the app events to Branch? I would also like to

[2020-12-03 11:53] nabeelpkl opened #45 "Enable Automatic events"
Hi, I need to track Automatic events like app uninstall and other things. how will I enable that in flutter. couldn't find anything relevant in docs.

[2020-12-03 13:55] viniciuszani commented on #44
Hi @guilhermeagostinelli, I had this issue today (also using branch plugin).

It seems that this issue is fixed in this repo's master.
While it isn't published as a new version, you can reference it directly from your pubspec:

[code]

Can you check if it works?

[2020-12-03 19:40] guilhermeagostinelli commented on #44
Hi @viniciuszani , thanks for the reply.

It should work because, presumably, the master branch should have the latest released version which is currently v3.0.0. The problem with v3.0.0 is that one is not supposed to use `ENABLE_BRANCH_IO_INTEGRATION` since the Branch integration has been removed.

[2020-12-03 19:58] guilhermeagostinelli commented on #44
Hi @viniciuszani , thanks for the reply.

It works (but so do v3.0.0). Are you sure one can use the `ENABLE_BRANCH_IO_INTEGRATION` with this version?

The last significant change in the master branch has been introduced by https://github.com/claimsforce-gmbh/flutter-segment/commit/f01f2e65d1683f628b4142ae659f6f64ffe505ab which has then removed the Branch integration so I don't think the master bra

[2020-12-04 16:21] fweinaug opened #46 "The Future of flutter-segment"
We of claimsforce are very happy with the growing popularity of the flutter-segment package and the help we get from the community! However, with the growing interest there is also an increasing need for improvements and maintenance. Therefore we would like to simplify the use and further development of the package and prepare for the future. 🙂

After reviewing all open issues and pull requests as

[2020-12-06 22:16] BlackGold-1989 opened #47 "Publishing Issue"
I met parsing issue when building app-bundle
<img width="1519" alt="Screen Shot 2020-12-07 at 01 15 48" src="https://user-images.githubusercontent.com/58547693/101294631-c54e7500-3829-11eb-8b33-bc3c58c8aecf.png">

[2020-12-10 23:18] dgilperez commented on #46
Great news! Looking forward to see the progress in that direction, and willing to help if I can.

[2020-12-14 15:18] ciprianpatru opened #48 "Intercom integration in segment"
Hello,
Any intention of making available an Intercom integration with segment on flutter.
Thank you

[2021-01-10 08:14] TheMisir commented on #46
Can I use `flutter-segment` for sending events to firebase, fb app-events, intercom, etc...?

Some of them requires native code changes:

[code]

How can I get instance of builder to call `.use` method in that case?

[2021-01-11 04:50] ThangNguyen91 opened #50 "Missing advertisingId and adTrackingEnabled"
Working on debug mode and release mode but not working when upload to Testflight and Google Play for internal test
Investigate and solve the issue that Derek mentioned where the “context.device.advertisingId” and “context.device.adTrackingEnabled” parameters are not being sent to Segment.
Before upload to Google and Testflight
Android
![image](https://user-images.githubusercontent.com/28625589/104

[2021-01-13 21:35] jhonvegamas opened #51 "ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: Invalid argument: Instance of 'Status'"
E/flutter (14273): [ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: Invalid argument: Instance of 'Status'
E/flutter (14273): #0      StandardMessageCodec.writeValue (package:flutter/src/services/message_codecs.dart:404:7)
E/flutter (14273): #1      StandardMessageCodec.writeValue.<anonymous closure> (package:flutter/src/services/message_codecs.dart:401:9)
E/flutter (14273): #2

[2021-01-13 22:00] jhonvegamas commented on #51
Be careful with the additional parameters, if you have a model in another model make sure you are sending strings or int to avoid problems

[2021-01-13 22:00] #51 closed

[2021-01-17 06:39] AdamRuddGH commented on #15
I wish i'd read your comment 2 days earlier @stanojevicboban! I had a similar issue and it was my hasty paste into the AndroidManifest.xml which was the root of the problem.

[2021-01-19 14:39] dgilperez opened #52 "Update segment depencency"
Hi!

I see current stable android [analytics version is 4.9.0](https://github.com/segmentio/analytics-android/releases), but flutter-segment is still installing 4.7.0. Any reason not to upgrade? Would you accept a PR?

[2021-02-26 11:37] dgilperez commented on #46
Hi! Gentle ping to ask for status for this, and offer my axe in case I can help. We're again considering using tools such as AppsFlyer and would really like to make use of flutter-segment to install it, if possible.

[2021-03-10 07:40] fweinaug commented on #46
I finally had some time to lay the groundworks for this. You can find the current status in the [branch for version 4](https://github.com/claimsforce-gmbh/flutter-segment/tree/4.x). I would be very grateful for any help!

[2021-03-10 07:50] fweinaug commented on #46
There is one big **open topic**: I could not find a way to split the integrations into separate packages. The native implementation for Segment lives in the main package and expects the `FACTORY` from the native implementation of the integration. The `FACTORY` implementation would live in the native part of the integration package and somehow has to be passed to the native implementation of the ma

[2021-03-19 08:27] vcanuel commented on #46
Hi,

Will you support null safety in the future version ?

[2021-03-19 10:09] dgilperez commented on #46
👏  rock and roll!

I had a look and I am afraid I can't help much with the pending issues - I am not experienced enough-, but I can test the branch / setup instructions once ready to test.

[2021-04-29 01:26] ThangNguyen91 opened #54 "added null safety (see: https://dart.dev/null-safety)"

[2021-05-05 06:39] ryanheise commented on #54
I will start working on a pull request, happy to contribute.

[2021-05-05 08:48] MaiKaY commented on #54
Hi @ryanheise,
awesome that you start to work on a PR for that.

Maybe we can find some volunteers to support you in case it comes to questions.

(cc @kev52 @fweinaug @viniciuszani)

[2021-05-06 09:07] ryanheise commented on #54
Thanks, @MaiKaY . The questions I have will be on whether it is conceivable for a certain API to ever return null.

Just one question for now: can `getAnonymousId` ever return null in any circumstance?

[2021-05-06 15:21] ryanheise commented on #54
We personally need this to work on iOS and I noticed the 4.x branch does not yet have the iOS implementation.

Therefore, we may end up making this null safety version for the current 3.x version (unless someone can quickly implement the iOS side for the 4.x branch? Let me know, if not, we'll do this for the 3.x version.)

It looks like the intention was to convert the old objective C code to Swif

[2021-05-07 03:21] ryanheise commented on #54
I've created a pull request based on v3 as the v4 branch looks incomplete (missing the iOS implementation): #55

In terms of my previous question on the nullability of the `getAnonymousId` return value, I've made it nullable to allow for the unknown.

[2021-05-10 05:47] #54 closed

[2021-05-10 05:52] MaiKaY commented on #54
Hi @ThangNguyen91,
the latest version `3.1.0` has null safety support.

[2021-05-10 09:31] ThangNguyen91 commented on #54
Thanks for everything you do :)

[2021-05-11 11:40] ThangNguyen91 opened #56 "Segment.track issue"
When send list product inside properties to track Segment not working and send to Segment.
I am following the example here:
https://segment.com/docs/connections/spec/ecommerce/v2/#order-completed

Expected results:
Segment received properties as example.

[2021-05-15 01:57] #56 closed

[2021-05-15 01:57] ThangNguyen91 commented on #56
I solved the problem

[2021-05-24 18:22] supposedlysam-bb commented on #46
In light of this finding, are there plans to continue development on this package "un-federated"?

[2021-05-24 21:08] danielFloat commented on #46
@TheMisir did you find a way to do this? I'm facing the same thing, my company wants that integration and I'm not sure how to implement it.

[2021-05-24 21:39] TheMisir commented on #46
Unfortunately I had to decide to not use Segment. Instead I write internal data sharing service (in dart) to translate and send events to supported platforms. (It closed source also I haven't done it yet)

[2021-06-02 08:48] MaiKaY opened #57 "We are searching main contributor(s) for this package"
Hello flutter_segment_community,
as most of you realized there isn't much going on in maintaining this package.
Unfortunately the main contributors of this package (me included) don't have any capacities left to do a maintenance which fulfills all needs from all of the users of this package.

Therefore we are searching for main contributor(s) to take over the development of this package.
In case y

[2021-06-02 11:53] MaiKaY commented on #57
FYI - Maybe some of you are interested in becoming a main contributor
@viniciuszani @kev52 @shashikantdurge @jjchiw @gertdrui

[2021-06-02 22:17] danielgomezrico opened #58 "`userId` for Identify should be optional"
The function `identify` should have the parameter `userId` as optional.

The main issue with not allowing it is that you can not use the Persona Product nicely, it has an identity resolution based on traits that are sent and with that you don't need to have the `unique key id` every time on each platform.

Check:
- Documentation for [Android SDK](https://segment.com/docs/connections/sources/catalo

[2021-06-03 10:09] ashish12s3 opened #61 "does not contain bitcode"
'/Users/***/Library/Developer/Xcode/DerivedData/Runner-fbzorwkeiulwbyaezsixawdhdtrx/Build/Products/Debug-iphoneos/PromisesObjC/FBLPromises.framework/FBLPromises' does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. file '/Users/****/Library/Developer/Xcode/DerivedData/Runner

[2021-06-10 17:30] danielgomezrico opened #62 "Crash after sending bad properties for events"
After you send bad properties the Segment SDK on android throws an exception that is not been handled by the library and so the Flutter code can not handle it.

# Example
[code]

# Stacktrace
[code]

[2021-06-10 18:42] danielgomezrico opened #63 "Support for nested objects for event properties (hash of hashes)"
There are some events that require nested properties, for example, if you want to record a `Product List Viewed` you need to send the `products` array with each product property.

Check the example here:
https://segment.com/docs/connections/spec/ecommerce/v2/#product-list-viewed
[code]

# Current
If you send this with segment it returns a crash which is shown in https://github.com/claimsforce-gmbh

[2021-06-18 00:21] danielgomezrico opened #65 "Support for Firebase Analytics"
It would be cool to have the support for Firebase Analytics integration

[2021-06-30 05:22] #63 closed

[2021-06-30 05:28] MaiKaY commented on #62
Hi @danielgomezrico, could you please upgrade to `3.1.2` and check if this crash still remains?

[2021-06-30 12:18] danielgomezrico commented on #57
Hi, I'm interested :)

[2021-06-30 12:19] danielgomezrico commented on #62
@MaiKaY we are in the middle of migrating to flutter 2, I will test it after we are done with that, thanks :)

[2021-07-19 13:59] digocse opened #66 "Events being triggered automatically"
Not really an issue but I'd like to have a better understanding on some events that are being automatically triggered on our Flutter app. I couldn't find any reference explaining those and would appreciate your help.

#### Events:
- `Flutter`
- `UICompatibilityInput`
- `editing_overlay`

<h4>Events</h4>
<img src="https://user-images.githubusercontent.com/22969298/126171891-cb832354-6fcf-4827-8661-

[2021-07-30 02:54] madhu6264 opened #67 "User Attributes Missing Sometimes, Please update to latest SDK as per segment team supported"
Hi There,

Sometimes user attributes passing as null, can you pleas migrate to latest segment SDK for android & IOS.

[2021-08-02 17:41] victortimsit opened #68 "Crash on IOS"
Hi there,

Uppon installing flutter_segment like in the docs

[code]

and running on an IOS device, it crashes on startup:

[code]

I tried the following:

`flutter clean`
`cd ios/ && pod install && pod repo update`

What am I missing here ?

Cheers!

[2021-08-03 08:26] theochampion commented on #68
Same problem here on mac M1!

[2021-08-04 21:44] parteekpassi opened #69 "Error connecting to the service protocol: failed to connect to http://127.0.0.1:65337/JevuKeAttho=/"
I had added flutter_segment: ^3.1.2 dependencies to pubspec.yaml file:

Then added  the following code snippet in my widget's build method

    Segment.screen(
      screenName: 'Example Screen',
    );

Now after these two steps when I run my flutter app I get error: Error connecting to the service protocol: failed to connect to http://127.0.0.1:65337/JevuKeAttho=/

Can you please provide me some

[2021-08-05 21:01] #69 closed

[2021-08-05 21:03] parteekpassi commented on #69
I had to add following code snippet

<key>com.claimsforce.segment.WRITE_KEY</key>
	<string>YOUR_WRITE_KEY_GOES_HERE</string>
	<key>com.claimsforce.segment.TRACK_APPLICATION_LIFECYCLE_EVENTS</key>
	<false/>
	<key>com.claimsforce.segment.ENABLE_AMPLITUDE_INTEGRATION</key>

under : Project > iOS > runner > info.plist, then its fixed

[2021-08-09 12:30] theochampion opened #70 "Build fail on IOS : AmplitudeIntegration.h:2:9: error: include of non-modular header inside framework module"
Hi there,

After installing segment like specified in the segment.com docs:

[code]

I get a build error on IOS:

[code]

The error seems to come from FlutterSegmentAmplitude. Which is even weirder given I disabled Amplitude integration in the settings:

[code]
Any ideas?

[2021-08-10 17:00] theochampion commented on #70
@esarbanis By looking at [your PR](https://github.com/claimsforce-gmbh/flutter-segment/pull/49) on installation via dart code I take it you are familiar with the way dependencies are built on IOS.

Any ideas of what could be going on here? ;)

[2021-08-26 16:16] RicharC293 opened #71 "Not listen Native Life cycle (Android)"
I have specified the TRACK_APPLICATION_LIFECYCLE_EVENTS parameter to true but in the segment dashboard in debugger it does not reflect the life cycle events to me.

`<meta-data android:name="com.claimsforce.segment.TRACK_APPLICATION_LIFECYCLE_EVENTS" android:value="true" />`

Maybe this is because the native platform doesn't interact directly with flutter?

In no case do I have an automatic event

[2021-09-03 12:59] vilorel opened #73 "Web -- Event tracking doesn't work"
When I'm debugging all track events are recorded properly. When I'm building and deploying however nothing shows up on segment. Page views either through the observer or when recorded manually do work. So do identify calls. However I don't see any API t calls.

I'm using the latest stable version of Flutter and the latest version of this plugin 3.1.2. Any clues?

[2021-09-07 07:06] ariefwijaya commented on #57
@MIlhamDedi  Maybe interested 🥇

[2021-09-11 02:57] theachoem commented on #36
I have the same issue but it is fixed it now after checking the docs again. Make sure to put them outside the main activity.

[code]

[2021-09-29 05:45] MaiKaY commented on #70
Hi @theochampion,
we just released a new version `3.1.3`. Could you please try and confirm that the issue is solved after upgrading to version `3.1.3`?

[2021-09-29 05:45] #70 closed

[2021-09-29 05:46] MaiKaY commented on #68
Hi @victortimsit,
we just released a new version `3.1.3`. Could you please try and confirm that the issue is solved after upgrading to version `3.1.3`?

[2021-09-29 05:46] #68 closed

[2021-09-29 05:46] MaiKaY commented on #39
Hi @humberto-cetina-commure,
we just released a new version `3.1.3`. Could you please try and confirm that the issue is solved after upgrading to version `3.1.3`?

[2021-09-29 05:46] #39 closed

[2021-09-29 16:14] ariefwijaya commented on #65
I think we can integrate it in the segment panel Server to Server

[2021-09-29 19:39] danielgomezrico commented on #65
@ariefwijaya can you elaborate more the idea?

[2021-09-29 19:41] danielgomezrico commented on #73
As I can see the implementation of JS is not handled by this library, is that a good assumption @MaiKaY ?

I see that the example includes the segment JS sdk directly here https://github.com/claimsforce-gmbh/flutter-segment/blob/master/example/web/index.html

[2021-09-30 05:57] MaiKaY commented on #73
@danielgomezrico unfortunately your assumption is wrong, the library does support web, you can find the implementation [here](https://github.com/claimsforce-gmbh/flutter-segment/blob/master/lib/src/segment_web.dart).

@vilorel @nvloc120 can you please double check and confirm that the `index.html` holds the necessary `<script>` tag as mentioned in the [instruction](https://github.com/claimsforce-g

[2021-09-30 06:08] nvloc120 commented on #73
@MaiKaY everything works fine on local, but when build and deploy to server then track API does not work, the rest still works fine on server.

[2021-09-30 12:03] wer-mathurin commented on #46
@fweinaug is there a chance you can backport pure dart configuration to the 3.x branch?

In terms of getting the write API key secure, this will be easier :-)

[2021-09-30 15:24] theochampion opened #74 "Null safety error after migration to 3.2.0"
Hey there,

I just migrated to `3.2.0` with init in Dart code and I now get this compile time error

[code]

Any idea?

Cheers!

[2021-09-30 15:44] theochampion commented on #74
I was able to fix the issues by replacing instances of `@required` by the new `required` keyword and added default values in the SegmentConfig object :

[code]

[2021-09-30 17:18] victortimsit opened #75 "Compile time error: fatal error: 'Segment-Amplitude/SEGAmplitudeIntegrationFactory.h' file not found"
Hey there,

I just migrated to `3.2.0` and upon running I get this compile time error:

[code]

Any ideas?

thanks

[2021-09-30 22:28] theochampion commented on #74
I've opened a pull request with the changes https://github.com/claimsforce-gmbh/flutter-segment/pull/76

[2021-10-01 11:15] theochampion commented on #75
This is blocking, any updates?

[2021-10-02 08:45] ariefwijaya commented on #65
In the segment admin dashboard, we can choose the destination of the trackers. So, whenever we track the data using segment,the segment will also forward it to the destination.

[2021-10-02 11:59] danielgomezrico commented on #65
Thanks, I understand but for Firebase that's not an "automatic" integration, you need to add a setup in the Segment SDK running for each platform for Firebase, check this PR https://github.com/la-haus/flutter-library-segment/pull/4

[2021-10-03 09:04] RizanPSTU commented on #75
Any update on this ?

[2021-10-03 09:25] RizanPSTU commented on #39
I can see this error in ^3.2.0

[2021-10-03 17:57] vcanuel commented on #75
Hi,

This error seems related to https://github.com/claimsforce-gmbh/flutter-segment/pull/72

Apparently the SEGAmplitudeIntegrationFactory.h is still referenced in `Segment_Amplitude` module.

[2021-10-04 06:00] MaiKaY commented on #74
Should be solved with `3.2.1`

[2021-10-04 06:00] #74 closed

[2021-10-04 06:03] MaiKaY commented on #75
This import makes trouble since the release of this library. Checking the [history of the file](https://github.com/guilhermeoalima/flutter-segment/commits/87c54792ebdf56adad87c05f781e832ec48cc720/ios/Classes/FlutterSegmentPlugin.m) feels like ping pong.

@victortimsit @RizanPSTU @vcanuel @theochampion can someone please support here to finally fix it?

[2021-10-04 11:39] MaiKaY commented on #73
@nvloc120 could it be a ad-blocker issue? Can you please confirm that the issue remains with deactivated and/or no active ad-blocker?

[2021-10-04 13:10] wer-mathurin commented on #46
@MaiKaY : I saw that the dart configuration was available on the beta branch 4.x, and I was asking if it was possible to backport in the 3.x branch and the good news is that the 3.2 version does exactly this (the version 3.2 was release about a day after my comment) :-)  So everything is good for me!

[2021-10-04 13:27] vcanuel commented on #75
I have found the root cause of this issue.

TL;DR: remove " use_frameworks!" from your podfile

In my Podfile I see  that I added  "use_frameworks!"  as a requirement for certain librairies I use.
For instance, this is needed for image_downloader ( see [wiki image_downloaded](https://github.com/ko2ic/image_downloader/wiki#image_downloaderimage_downloader-swifth-file-not-found-though-appdelegate-is

[2021-10-05 01:55] nvloc120 commented on #73
@MaiKaY My browser doesn't have any ad-block extensions. Besides, I've tested with a browser that has an ad-block extension and all APIs didn't work (not only track API)

[2021-10-05 06:34] RizanPSTU commented on #75
I can't remove use_frameworks! because of Firebase

[2021-10-05 12:43] mmc-eastwolf commented on #75
Quick fix : Replace in FlutterSegmentPlugin.m
`#import <Segment-Amplitude/SEGAmplitudeIntegrationFactory.h>`
to
`#import <Segment_Amplitude/SEGAmplitudeIntegrationFactory.h>`

[2021-10-06 13:42] jseminck opened #78 "Can't buiild iOS app after adding flutter_segment"
Hello, thanks for the work on the package. Everything is working as expected on Android but when building on iOS we get this issue on all our developer machines. I found this thread, but we are using `flutter_segment: ^3.2.1` which contains the fix.

[code]

[2021-10-06 13:44] jseminck commented on #75
We have the same issue: https://github.com/claimsforce-gmbh/flutter-segment/issues/78

[2021-10-06 14:02] vcanuel commented on #75
This quick fix is what I initially proposed here https://github.com/claimsforce-gmbh/flutter-segment/pull/77 but this will fail the build for those who do not use `use_frameworks!` statement . So it's a chicken and egg problem !

The only "temp" solution is by forking this repo, do the fix and references it in your podspec via :

[code]

[2021-10-07 03:36] danielgomezrico commented on #52
@dgilperez is there any reason to update the library? what's your need?

[2021-10-07 12:42] danielgomezrico commented on #71
I can see these events now

![image](https://user-images.githubusercontent.com/76348/136386109-b2ba9453-fe26-486c-8750-875c8130b82e.png)

[2021-10-07 12:58] danielgomezrico opened #81 "Update iOS Segment SDK"
Current version is pretty low from the current stable versions:

# Current
[code]

# Expected
[code]

[2021-10-07 13:00] danielgomezrico commented on #61
@ashish12s3 can you elaborate more your issue?

[2021-10-07 13:02] danielgomezrico opened #82 "[Question] DeepMerge for Android Implementation"
Hi Guys

What's the idea behind this deep merge?

https://github.com/claimsforce-gmbh/flutter-segment/blob/15ec6b2ab988a0628568357818474a7c8b638d61/android/src/main/java/com/example/flutter_segment/FlutterSegmentPlugin.java#L87-L117

[2021-10-13 09:44] smishal1 commented on #75
any update on this ??

[2021-10-15 21:29] EhabSalah commented on #31
Should segment and amplitude decoupled from each other ??

am facing this error `'Segment-Amplitude/SEGAmplitudeIntegrationFactory.h' file not found`
while build iOS project.

[2021-10-16 17:12] danielgomezrico opened #85 "CI setup"
This issue will track all changes made to the repository in order to take advantage of github actions and know if a PR could be merged without breaking something:

- [x] Add action to run build for iOS, android and web https://github.com/claimsforce-gmbh/flutter-segment/pull/84
   - [x] Fix `example/` compilation for android and iOS https://github.com/claimsforce-gmbh/flutter-segment/pull/95
- [x]

[2021-10-18 05:35] MaiKaY commented on #81
Available in `3.3.0`

[2021-10-18 05:35] #81 closed

[2021-10-18 05:37] MaiKaY commented on #47
Hi @BlackGold-1989,
could you try it with the latest version. Does the issue still exists?

[2021-10-18 14:58] jeremynorman89 opened #87 "Immediate crash on iOS"
We are attempting to upgrade from 3.1 (using native initialisation) to 3.3 (dart initialisation), it worked great for Android but on iOS as soon as it launches, it crashes immediately with the following error:

[code]

This happens before any code to provide a write key or anything is executed.

[2021-10-19 05:14] MaiKaY commented on #87
@esarbanis, do you have an idea why this could happen?

[2021-10-21 06:23] kasyrm opened #90 "Installation for both iOS and Android"
How can I initialise Segment for both platforms? I have 2 separate write keys.
Should I check beforehand what platform the app is run on and provide corresponding key?

[2021-11-01 08:38] Vukan-Markovic commented on #75
Any update on this?

[2021-11-01 08:39] Vukan-Markovic commented on #87
Got the same problem when trying to run with version 3.3.0

[2021-11-01 11:14] RizanPSTU commented on #75
Getting this same error

[2021-11-01 13:06] nmarko91 commented on #63
Nevermind, I made a mistake, it's working correctly - sorry 🙈

[2021-11-02 19:00] esarbanis commented on #87
@MaiKaY @ariefwijaya I have the fix in a PR.

Although in #49 I tested the backward compatibility, I didn't properly test the case where a file configuration is not present in iOS :disappointed:.

I have properly tested this in our app, as we added segment support and it was a good opportunity to fix this as well :slightly_smiling_face:

[2021-11-02 21:45] danielgomezrico commented on #31
@EhabSalah which version of `flutter_segment` are you using?

[2021-11-03 18:50] EhabSalah commented on #31
Currently migrated to `3.3.0` and it works fine on ios with the deprecated configuration for ios, thank you very much @danielgomezrico 😊

[2021-11-03 22:31] HerrNiklasRaab commented on #87
Maybe pin this issue till its fixed? Just ran into it as well!

[2021-11-04 05:51] #87 closed

[2021-11-04 05:57] MaiKaY commented on #87
We just released `3.4.0` to fix this issue.

[2021-11-04 10:17] JobGetabu commented on #87
the update causes:
`[!] The 'Pods-Runner' target has transitive dependencies that include statically linked binaries: (Segment-Amplitude)`

It could resolve if I remove
`use_frameworks!` from my `Podfile`
But I need `use_frameworks!`

[2021-11-04 10:29] esarbanis commented on #87
@JobGetabu I don't think that this error is relevant to this issue.

Can you please open up a new issue, so we don't confuse the 2? :pray:

[2021-11-04 11:58] nmarko91 opened #96 "Installation error"
After updating to `3.4.0` to be able to use Dart config instead of Native config (as seen here https://github.com/claimsforce-gmbh/flutter-segment/issues/87), when I run pod install I get the error:

[code]

Any ideas on how to fix this one?

Thanks

[2021-11-04 12:08] HerrNiklasRaab commented on #87
@esarbanis I have the same issue

[2021-11-04 12:10] nmarko91 commented on #87
I opened a new one for this, to make things easier https://github.com/claimsforce-gmbh/flutter-segment/issues/96

[2021-11-04 12:10] jeremynorman89 commented on #96
I'm also experiencing this!

[2021-11-06 16:53] EhabSalah opened #98 "`v3.4.1` Immediately crashes the Android `release` on startup."
## Crash on Android `release` startup.

In Android everything is working fine in debug mode, but immediately crash on release mode startup!.

 flutter_segment version 3.4.1

[code]

[2021-11-08 07:27] MaiKaY commented on #96
@danielgomezrico @esarbanis @ariefwijaya do you think this will be solved with this PR https://github.com/claimsforce-gmbh/flutter-segment/pull/97?

[2021-11-08 09:07] esarbanis commented on #96
@MaiKaY I think so, yes.

[2021-11-08 09:49] MaiKaY commented on #96
Should be fixed in `3.4.1`

[2021-11-08 09:49] #96 closed

[2021-11-08 12:13] jeremynorman89 opened #99 "'Analytics/SEGAnalytics.h' file not found"
After the upgrade to `3.4.1` I am now getting the following error:

`pub-cache/hosted/pub.dartlang.org/flutter_segment-3.4.1/ios/Classes/FlutterSegmentPlugin.m:2:9: fatal error: 'Analytics/SEGAnalytics.h' file not found`

I've tried the usual troubleshooting steps such as `flutter clean`, deleting derived data etc. Any idea why this would be happening?

[2021-11-08 14:37] nmarko91 commented on #99
Same, I tried removing `podfile lock` & running `flutter clean` after but I have the same issue :(

[2021-11-09 12:40] KishanAcko commented on #99
Am also facing the same issue

[2021-11-09 21:57] juliavi commented on #99
Same problem here. tried -
flutter clean
pod deintegrate
reinstalling / upgrading / restarting....

[2021-11-10 09:19] mahmutpinarbasi commented on #99
after upgrading 3.4.1, started to have same error.

[2021-11-12 02:38] yoodame commented on #99
Hello all. I was able to bypass this issue partly by replacing the Analytics imports in `ios/Classes/FlutterSegmentPlugin.m` with:

[code]

I am still trying to figure out why the Segment-Amplitude import is failing.

[2021-11-12 07:41] esarbanis commented on #99
Just submitted a PR for this.

[2021-11-15 09:34] jeremynorman89 commented on #99
Everything seems to be working using this branch, thanks! 👍  Hopefully it can get merged soon.

[2021-11-15 10:58] juliavi commented on #99
Any estimation when this would be merged? :)

[2021-11-15 15:30] esarbanis commented on #99
@juliavi if you do not have any ssh key setup with github, then you should use: `https://github.com/esarbanis/flutter-segment.git` url

[2021-11-19 06:28] #99 closed

[2021-11-19 06:47] MaiKaY commented on #99
Fixed in `3.5.0` and please keep the following in mind.

[2021-11-19 06:47] MaiKaY commented on #75
Fixed in `3.5.0` and please keep the following in mind.

[2021-11-19 06:47] #75 closed

[2021-11-19 06:48] #44 closed

[2021-11-19 06:48] MaiKaY commented on #43
Closed due to inactivity.

[2021-11-19 06:48] #43 closed

[2021-11-19 06:49] MaiKaY commented on #45
Closed due to inactivity.

[2021-11-19 06:49] #45 closed

[2021-11-19 06:49] MaiKaY commented on #50
@ThangNguyen91 may I ask you to try it with the latest version? We updated the SDKs recently.

[2021-11-19 06:50] #50 closed

[2021-11-19 06:50] MaiKaY commented on #61
Closed due to inactivity.

[2021-11-19 06:50] #61 closed

[2021-11-19 06:51] MaiKaY commented on #62
@danielgomezrico does the issue still exists?

[2021-11-19 06:52] MaiKaY commented on #65
@danielgomezrico can we bring it to this library?

[2021-11-19 06:53] MaiKaY commented on #66
Closed due to inactivity.

[2021-11-19 06:53] #66 closed

[2021-11-19 06:53] MaiKaY commented on #67
Closed due to inactivity.

[2021-11-19 06:53] #67 closed

[2021-11-19 06:55] MaiKaY commented on #71
@RicharC293 are you experiencing the issue with the latest version? Feel free to reopen the issue in case the issue remains.

[2021-11-19 06:55] #71 closed

[2021-11-19 15:03] danielgomezrico commented on #65
I didn't send anything because it is not clear to me how to divide the library into modules so this does not become big with all the third-party libraries

[2021-11-21 22:05] danielgomezrico commented on #98
@EhabSalah do you have proguard in your android side?

[2021-11-24 11:16] Rostyslav91 commented on #98
@EhabSalah Hi, change in android/build.gradle next line

classpath 'com.android.tools.build:gradle:4.1.0'

to

classpath 'com.android.tools.build:gradle:3.6.2'

[2021-12-02 13:20] omzer commented on #98
Can you ensure that you are not using the deprecated way of initializing segment? (by adding  `<meta-data` tags to the manifest)

[2021-12-02 22:27] omzer opened #103 "Send events when the user closes the App"
Segment is not sending the events immediately (understandably to save up on battery), but that means the App will lose some important events if the user killed the App before these events are sent.

Common scenario would be:
- User installs the App.
- Try to log in.
- Fail for some reason (track the email and reason and send event).
- Closes the App and maybe uninstall it.

This is very critical s

[2021-12-03 21:00] MaiKaY commented on #103
Hi @omzer,
thanks for raising this issue but this is not the right place, since this library is "just" a flutter wrapper around the segment SDK and we don't have influence how data/events are sent to segment. You should raise this issue in one of the concrete SDK implementations.

- [iOS](https://github.com/segmentio/analytics-ios)
- [Android](https://github.com/segmentio/analytics-android)

[2021-12-03 21:00] #103 closed

[2021-12-03 21:04] omzer commented on #98
@MaiKaY any idea how to solve this? it makes the whole library unusable.

Not sure if it helps, but running on android version shows the following error:
[code]

[2021-12-03 21:44] MaiKaY commented on #98
@ariefwijaya do you have an idea and could support here?

[2021-12-05 10:29] GeorgePagounis opened #104 "How does session_id in Amplitude work?"
Hello, I am unsure about how does session_id of Amplitude works if for example we input it as an option in a track call.
I do not see this sessionId anywhere on the Amplitude UI, I do see the event though.

[2021-12-07 07:03] #104 closed

[2021-12-07 07:04] GeorgePagounis commented on #104
I found it, it's on user session details when for example pressing a graph.

[2021-12-07 13:49] danielgomezrico commented on #98
I cant reproduce it in `3.5.0` @EhabSalah do you have an example project showing that it explodes?

[2021-12-10 12:10] GeorgePag opened #105 "Platform Exception on flutter web"
Hello I get the below code when running my flutter web project
`PlatformException(Unimplemented, null, The segment plugin for web doesn't implement the method 'config', null)`
My setup is the same setup provided in segment package just these in main:
`await Segment.config(
    options: SegmentConfig(
      writeKey: 'My_Key',
      trackApplicationLifecycleEvents: true,
      amplitudeIntegrationE

[2021-12-10 12:16] GeorgePag opened #106 "Actions Amplitude Integration sessionId"
I have connected my app with segment and segment with Amplitude Actions, but Amplitude does not take my defined sessionId, even though in the raw data of segment it shows up. I figured it has to do with the segment side, because I picked "amplitude actions "instead of "amplitude classic". My issue is this:
`SegmentDefaultOptions.instance.options = {
    'integrations': {
      "Actions Amplitude":

[2021-12-10 17:00] HerrNiklasRaab commented on #105
same here!

[2021-12-11 15:07] danielgomezrico commented on #106
It does seem to me that it may be something wrong in the segment-amplitude integration, because here we do not do anything extra,

Is there anything that the native implementation of amplitude needs to do in order to support that "amplitude actions" thing?

Please share some docs around amplitude actions

[2021-12-11 19:14] EhabSalah commented on #98
@danielgomezrico I have just realized that as am setting my own proguard rules, I also have to tell him to [keep segment classes](https://segment.com/docs/connections/sources/catalog/libraries/mobile/android/android-faqs/#how-should-i-configure-proguard).

[code]

[2021-12-11 19:14] #98 closed

[2021-12-14 13:28] afterzero-dev opened #107 "How to track App Installed & App Deleted?"
Dear contributors,

Thanks a lot for the package.

Can we do what I mentioned above?

Thanks a lot!

Kind regards

A0

[2021-12-16 17:03] YosafatM commented on #57
@MaiKaY  @danielgomezrico  I'm interested, recently I've got to check how it works, I've worked with Java and Dart, I know I need to learn quite a lot, but I learn fast and this seems promising and useful for the community

[2021-12-17 22:24] danielgomezrico commented on #58
On iOS there's a bug where it can not be optional: https://github.com/segmentio/analytics-ios/issues/1024

[2022-01-13 07:29] theachoem opened #113 "PlatformException on call Segment.getAnonymousId"
It suddenly happens when calling `Segment.getAnonymousId`, I'm not sure what's the cause of this but it still works fine with the previous version of our app and we think that it may not cause by Segment.com.

- We checked that the write key is matched
- It just happen today
- It only happens on Android. We have tested on IOS.

Here is the full log:
[code]

[code]

[2022-01-16 13:41] saharvx9 commented on #68
still not working on m1
i get this error when i am doing pod install:

[code]

[2022-01-25 13:31] #113 closed

[2022-01-25 13:31] MaiKaY commented on #107
This project is not longer maintained from this repository. In case this issue still remains please open a new issue [here](https://github.com/la-haus/flutter-library-segment/issues).

[2022-01-25 13:31] #107 closed

[2022-01-25 13:31] MaiKaY commented on #106
This project is not longer maintained from this repository. In case this issue still remains please open a new issue [here](https://github.com/la-haus/flutter-library-segment/issues).

[2022-01-25 13:31] MaiKaY commented on #105
This project is not longer maintained from this repository. In case this issue still remains please open a new issue [here](https://github.com/la-haus/flutter-library-segment/issues).

[2022-01-25 13:31] #105 closed

[2022-01-25 13:31] MaiKaY commented on #85
This project is not longer maintained from this repository. In case this issue still remains please open a new issue [here](https://github.com/la-haus/flutter-library-segment/issues).

[2022-01-25 13:31] #85 closed

[2022-01-25 13:31] MaiKaY commented on #82
This project is not longer maintained from this repository. In case this issue still remains please open a new issue [here](https://github.com/la-haus/flutter-library-segment/issues).

[2022-01-25 13:31] #82 closed

[2022-01-25 13:32] #73 closed

[2022-01-25 13:32] #65 closed

[2022-01-25 13:32] #62 closed

[2022-01-25 13:32] #57 closed

[2022-01-25 13:32] MaiKaY commented on #48
This project is not longer maintained from this repository. In case this issue still remains please open a new issue [here](https://github.com/la-haus/flutter-library-segment/issues).

[2022-01-25 13:32] #48 closed

[2022-01-25 13:32] #46 closed

[2022-01-25 13:32] MaiKaY commented on #42
This project is not longer maintained from this repository. In case this issue still remains please open a new issue [here](https://github.com/la-haus/flutter-library-segment/issues).

[2022-01-25 13:32] MaiKaY commented on #32
This project is not longer maintained from this repository. In case this issue still remains please open a new issue [here](https://github.com/la-haus/flutter-library-segment/issues).

[2022-01-25 13:32] #32 closed

[2022-01-25 13:32] MaiKaY commented on #24
This project is not longer maintained from this repository. In case this issue still remains please open a new issue [here](https://github.com/la-haus/flutter-library-segment/issues).

[2022-01-25 13:32] #24 closed